:root {
  --white: #fff;

  --gray-50: #f7f8fa;
  --gray-100: #e6e8eb;
  --gray-200: #afb2b1;
  --gray-500: #808080;
  --gray-800: #494d4b;

  --green-50: #04d361;

  --purple-300: #9f75ff;
  --purple-400: #9164fa;
  --purple-500: #8257e5;
  --purple-800: #6f48c9;

  --background: var(--gray-50);
  --background-header: var(--white);
  --text: var(--gray-500);
  --title: var(--gray-800);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background: #182830;
    --background-header: #0d161a;
    --text: #c1c1c1;
    --title: #fdfdfd;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; // 15 px
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; // 14px
  }
}

body {
  background-color: var(--background);
}

body,
input,
textarea,
button {
  font: 500 1rem Inter, sans-serif;
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: Lexend, sans-serif;
  color: var(--title);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}
